@charset "utf-8";
@import "compass";
@import "compass/reset";

/* ----------------------
	config
---------------------- */
// 画面の設定
$bgColor: #111;

// ボックスの設定
$bgColor_box: #fff;
$boxWidth: 70%;
$boxPadding: 30px;


/* ----------------------
	base Style
---------------------- */
html,body {
	width: 100%;
	height: 100%;
}
body {
	line-height: 1.7;
	font-family: "メイリオ", "Meiryo", verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
	background-color: #111;
}

p {
	margin-bottom: 1em;
	&:last-child {
		margin-bottom: 0;
	}
}

/* ----------------------
	content Style
---------------------- */
.container {
	background-color: $bgColor;
	width: 100%;
	height: 100%;
	z-index: 0;
}

.container__box__inner {
	width: $boxWidth;
	padding: $boxPadding;
	position: absolute;
	top: 50%;
	left: 50%;
	@include translate(-50%,-50%);
	z-index: 30;
}

.js-container__box__bg {
	@extend .container__box__inner;
	background-color: $bgColor_box;
	@include border-radius(10px);
	z-index: 10;
}

#canvas {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 20;
}